.thumbnail-discount:hover {
  cursor: pointer;
}
.thumbnail-discount img {
  display: block;
  width: 100%;
  height: auto;
}
.thumbnail-discount::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(56, 52, 52, 0.5);
  opacity: 0;
  transition: all 0.3s linear;
}
.thumbnail-discount:hover:before {
  opacity: 1;
}
.thumbnail-discount:hover .thumbnail-overplay {
  opacity: 1;
}
.thumbnail-overplay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  padding: 10px;
  border: 1px solid;
  border-color: #fff;
  transition: all 0.2s linear;
}
.thumbnail-overplay:hover {
  cursor: pointer;
  background-color: #fff;
  border-radius: 10px;
}

.discount-products {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  font-weight: 700;
  padding: 10px;
}
.discount-products_shop {
  position: absolute;
  top: 10px;
  left: 20px;
  background-color: red;
  color: white;
  font-weight: 700;
  padding: 7px;
}
.discount-products_check {
  position: absolute;
  top: 10px;
  left: 0px;
  background-color: red;
  color: white;
  font-weight: 500;
  padding: 4px;
  font-size: 13px;
}
.hr-or {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 10px;
  background: white;
}
.ant-form-item-required::before {
  display: none !important;
}

.logout-block {
  position: relative;
}
.logout-none {
  position: absolute;
  display: none;
  right: 0;
  left: 0;
  z-index: 100;
}
.logout-none::before {
  content: "";
  position: absolute;
  display: block;
  top: 0%;
  width: 160px;
  height: 10px;
  background-color: transparent;
}
.logout-list {
  background-color: #fff;
  z-index: 100;
  border: 1px solid gray;
  color: #008848;
  margin-top: 10px;
}
.logout-list li {
  padding: 10px 0px 10px 10px;
}
.logout-block:hover .logout-none {
  display: block;
}
.animation_loading {
  animation: animation 1s linear infinite;
}
@keyframes animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
